{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="center-wrap login-wrap">
  <div class="wrap-one">
    <form class="forma" action="" method="POST">

      {% csrf_token %}
      {% load widget_tweaks %}

      <p class="">Выберите файл</p>
      <select name="select" id="" class="combobox">
        {% for f in files %}
          <option value="{{ f.document.path }}">{{ f.title }}</option>
        {% endfor %}
      </select>

      <p class="">Выберите файл</p>
      <select name="select" id="" class="combobox">
        {% for f in files %}
          <option value="{{ f.document.path }}">{{ f.title }}</option>
        {% endfor %}
      </select>




      <div class="form-model__btn-box">
        <input class="btn btn-second" value="Обучить" type="submit">
      </div>

    </form>
  </div>

</div>
{% endblock %}
